@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@506&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');


.About {
    height: 400px;
    position: absolute;
    left: 350px;
    top: 200px;
    text-align: left;
}
.Education {
    position: absolute;
    left: 350px;
    top: 1000px
}
.Experience {
    position: absolute;
    left: 350px;
    top: 1400px
}
.Skills {
    position: absolute;
    left: 350px;
    top: 1800px
}
.About h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    display: inline;
    padding: 0;
    
}
.About h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #747a70;
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline;
}
.Email {
  
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #6ec259;
    display: inline;
    padding: 0;
    margin: 0;
    text-align: left;
}
.About h5 {
  
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #747a70;
    display: block;
    width: 900px;
    margin-top: 40px;
    text-align: left;

}
.last {
    color: #6ec259;
  

}
